@import '../../utils/variables.scss';

.navbar-component {
  display: flex;
  justify-content: flex-end;
  background-color: $background-secondary;
  padding: 1rem;
  padding-right: 3rem;

  .navbar-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    .user-icon {
      margin-right: 1rem;
    }

    .arrow-down {
      margin-top: 0.3rem;
      color: $text-tertiary;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      font-family: 'Lato';
      color: $text-tertiary;
      margin-right: 0.75rem;
    }

    .user {
      cursor: default;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 2.5rem;
      right: 0;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 3px 6px $hard-dark-shadow;
      padding: 1.25rem;
      font-family: 'Lato';
      min-width: 10rem;
      max-width: 30rem;

      label {
        color: $text-tertiary;
        font-weight: bold;
        font-size: 0.75rem;
      }

      .user-info {
        color: $text-tertiary;
        font-weight: 300;
        font-size: 0.9rem;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
      }

      .button {
        border: 1px solid red;
        padding: 2rem;
      }
    }
  }
}
