$text-primary: #fff;
$text-secondary: #93bedc;
$text-tertiary: #405568;
$background-primary: #3b7fba;
$background-secondary: #f4f9fd;
$green: #afe47c;
$hard-dark-shadow: #00000029;
$soft-dark-shadow: #8c8c8c29;
$light-blue: #4199d5;
