@import '../../utils/variables.scss';

.table-component {
  width: 100%;
  color: $text-tertiary;

  table {
    width: 100%;
  }

  // Header style
  th {
    width: 25%;
    background-color: transparent;

    div {
      display: flex;
      height: 3rem;
      flex-direction: column;
      align-items: flex-start;

      input {
        margin-top: 0.25rem;
        width: 85%;
        background-color: transparent;
        border: 1px solid lighten($text-tertiary, 50%);
        padding: 0.225rem;
      }

      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
        outline: none;
      }
    }
  }

  // Content Style
  //
  .content-table {
    box-shadow: 0 1px 8px $soft-dark-shadow;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    td {
      .content {
        padding: 1.25rem 0.5rem;
      }
    }

    &:hover {
      background-color: lighten($light-blue, 35%);
      color: darken($light-blue, 12.5%);
    }
  }

  // Remove Horizontal Line
  table,
  th,
  td {
    border-collapse: separate;
    border-spacing: 0 0.75rem;
  }
  td {
    border: none;
    border-top: none;
    border-bottom: none;
  }
}
